.classfortooltiponclick .fa-question-circle {
	cursor: pointer;
}

/**
Used for tooltip freeze with alt keypress
this allow first child tooltip
**/
div.ui-tooltip.mytooltip-hover-tooltip {
	z-index: 999999;
	border: solid 1px #BBBBBB;
	padding: 10px 20px;
	border-radius: 0;
	box-shadow: 0 0 4px grey;
	margin: 2px;
	font-stretch: condensed;
	line-height: 1.6em;
	max-width: 550px;
}
